footer {
    background-color: rgb(6, 31, 95);
    padding: 60px 40px 80px 40px;
    color: white;
}

.container {
    max-width: 1170px;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-col {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.description {
    font-size: 0.75rem;
    width: 60%;
    margin-top: 40px;
    word-wrap: break-word;
    color: hsl(223, 88%, 90%);
    line-height: 2;
}

.description + b {
    font-size: small;
    margin-top: 5px;
    color: hsl(223, 90%, 95%);
}

.footer-col h4 {
    position: relative;
    font-size: 1.125rem;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: hsl(223, 88%, 90%);
    transition: all .3s ease;
}

.footer-col ul li a:hover {
    color: #FFF;
    padding-left: 8px;
}

.footer-col:last-child p {
    font-size: 0.75rem;
    width: 90%;
    line-height: 2;
    word-wrap: break-word;
    color: hsl(223, 88%, 90%);   
}