* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 80px;
    background-color: black;
}